/*
Colors:
21E38A
0B4A20
19B02F
21BA93
2AE3DA
*/

h1 {
    color:black;
    font: SANS-SERIFF;
    font-size: 100px;
}

body {
    background-color:none;
    color: black;
}

#header {
    width:100%;
    background-color: none;
    min-height: 80px;
}

#header > h1 {
    
    margin:0;
    text-align: center;
    position: relative;
    transform: translateY(50)
}

#nav {
    width:100%;
    background-color: 2C8F48;
    min-height: 80px;
    font-family: 'Lato', sans-serif;
    height: auto;
}
#nav > ul {
    
    text-align: center;
    padding: 0;
    margin: 0;
    transform: translateY(50%);
    
}

#nav > ul > button {
    min-width: 120px;
    color: ghostwhite;
    background-color: 420707;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s;
}

#nav > ul > button:hover {
    background-color: CF5963;
}
/*
.menu {
    display:flex;
    background:aliceblue;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
}
*/
#middle-wrapper-width {
    display: flex;
    font-family: 'Lato', sans-serif;
    max-width: 960px;
    margin: 0 auto;  
}
#middle-wrapper {
    
}


#main-content-wrapper .image-content {
    background-color: 2C8F43;
    text-align: center;
    width:50%;
    margin-top: 50px;
}

#aside-content-wrapper {
    background-color: 59DB78;
    width:20%;
}


footer {
    
    background-color:aquamarine;
    margin:0;
}

footer > h1 {
    margin:0;
}
